<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zzzlarry.reminder">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:persistent="true"
        android:requestLegacyExternalStorage="true" >

        <receiver android:name=".BootReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="About" />
        <activity
            android:name=".AlarmNotification"
            android:label="Alarm notification" />
        <activity
            android:name=".Preferences"
            android:label="Preferences" />
        <activity
            android:name=".AppUsageLauncher"
            android:label="App Usage Launcher" />

        <activity
            android:name=".AppUsageDetector"
            android:label="App Usage Detector" />
        <activity android:name=".AppUsageUploader"
            android:label="App Usage Uploader" />

        <!--靜態註冊-->
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="testalarm0" />
                <action android:name="testalarm1" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".AppUsageDetectReceiver"
            android:enabled="true">
        </receiver>

        <receiver
            android:name=".CheckQuesLackReceiver"
            android:enabled="true">
        </receiver>

        <receiver
            android:name=".AppUsageUploaderReceiver"
            android:enabled="true" />

        <activity
            android:name=".Editt"
            android:label="Edit Alarm" />

        <service
            android:name=".NotificationCollectorService"
            android:label="notification collector service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>